@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

.search-box {
  border       : solid .2rem black;
  display      : flex;
  position     : relative;
  border-radius: 50px;
  width        : fit-content;
  margin-right : 3rem;
}

.search-box input[type=text] {
  font-size    : 1rem;
  width        : 0.2rem;
  padding      : 0.5rem 2rem 0.5rem 0.3rem;
  border       : none;
  box-sizing   : border-box;
  border-radius: 1rem;
  transition   : width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 150ms;
}

.search-box input[type=text]:focus {
  outline: none;
}

.search-box input[type=text]:focus,
.search-box input[type=text]:not(:placeholder-shown) {
  width     : 18rem;
  padding   : 0.5rem 2rem 0.5rem 0.5rem;
  transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.search-box input[type=text]:focus+button[type=reset],
.search-box input[type=text]:not(:placeholder-shown)+button[type=reset] {
  bottom    : 0.5rem;
  right     : -0.1rem;
  transition: bottom 150ms ease-out 800ms, right 150ms ease-out 800ms;
}

.search-box input[type=text]:focus+button[type=reset]:after,
.search-box input[type=text]:not(:placeholder-shown)+button[type=reset]:after {
  top       : -0.1rem;
  right     : 1.4rem;
  opacity   : 1;
  transition: top 150ms ease-out 950ms, right 150ms ease-out 950ms, opacity 150ms ease 950ms;
}

.search-box button[type=reset] {
  background-color: transparent;
  width           : 3rem;
  height          : 1.2rem;
  border          : 0;
  padding         : 0;
  outline         : 0;
  display         : flex;
  justify-content : center;
  align-items     : center;
  position        : absolute;
  bottom          : -1rem;
  right           : -1.7rem;
  transition      : bottom 150ms ease-out 150ms, right 150ms ease-out 150ms;
}

.search-box button[type=reset]:before,
.search-box button[type=reset]:after {
  content    : "";
  height     : 1.2rem;
  border-left: solid 0.2rem black;
  position   : absolute;
  transform  : rotate(-45deg);
}

.search-box button[type=reset]:after {
  transform : rotate(45deg);
  opacity   : 0;
  top       : -1.2rem;
  right     : -0.9rem;
  transition: top 150ms ease-out, right 150ms ease-out, opacity 150ms ease-out;
}