.videogame>a {
    height          : 100%;
    display         : flex;
    border-radius   : .7rem;
    justify-content : space-around;
    align-items     : center;
    background-color: honeydew;
    box-shadow      :
        5.9px 4.8px 10.3px -4px rgba(0, 0, 0, 0.024),
        16.1px 13.2px 28.4px -4px rgba(0, 0, 0, 0.035),
        39.1px 32.1px 68.4px -4px rgba(0, 0, 0, 0.046),
        134px 110px 227px -4px rgba(0, 0, 0, 0.07);
    padding        : 1em;
    text-decoration: none;
    gap            : 2em;
    color          : hsl(0, 0%, 10%);
}

.videogame .videogame__section {
    display        : flex;
    flex-direction : column;
    justify-content: space-around;
    width          : 90%;
    height         : 100%;
}

.videogame .videogame__picture-section .videogame__image {
    max-width      : 100%;
    image-rendering: optimizeSpeed;
    border-radius  : .5rem;
}

.videogame .videogame__details-section {
    text-align: left;
}

.videogame__details-section>header {
    margin: .5em 0;
}

.videogame .videogame__details-section .genres {
    display  : flex;
    gap      : .5em;
    flex-wrap: wrap;
}

.videogame__details-section .genres>.genre {
    max-width       : max-content;
    background-color: blueviolet;
    border-radius   : .5rem;
    font-size       : .8rem;
    color           : hsl(0, 68%, 94%);
    padding         : 0.3em .8em;
}

@media (max-width: 900px) {
    .videogame>a {
        flex-direction: column;
    }
}